<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Github<strong>Tidy</strong></a>
      <ul class="nav pull-right" >
        <li><a data-bypass href="https://github.com/codeforamerica/github-tidy/tree/gh-pages/reviews">Reviews</a>
        <li class="divider-vertical"></li>
        <li><a data-bypass href="http://github.com/codeforamerica/github-tidy">Github</a>
      </ul>
    </div>
  </div>
</div>

<div id="body" class="container-fluid" >
    <div id="repos"></div>

  <footer>
  </footer>
</div>