  <% var review = model.get('review') %>
  <td><strong><a data-bypass href="<%= model.get('html_url') %>" target="_blank"><%= model.get('name') %></a></strong></td>

  <td>
    <% if (model.get('fork') === true) { %>&#8715;<% } %></td>
  
  <% var createdAt = new Date(model.get('created_at')); %>
  <td><%= createdAt.getFullYear() %>-<%= createdAt.getMonth() + 1 %>-<%= createdAt.getDate() %></td>
  
  <% var updatedAt = new Date(model.get('updated_at')); %>
  <td><%= updatedAt.getFullYear() %>-<%= updatedAt.getMonth() + 1 %>-<%= updatedAt.getDate() %></td> 
  
  <td><%= model.get('description') %></td>

  <td>
    <% if (model.get('review')) { %>
      <%= model.get('review').type %>
    <% } else { %>
      <a data-bypass href="http://github.com/codeforamerica/github-tidy#reviewing" target="_blank">&#8212;</a>
    <% } %>
  </td>
  
  <td>
    <% if (model.get('issue')) { %>
      <% 
        var issue = model.get('issue'); 
        var updatedAt = new Date(issue.updated_at);
      %>
      <a data-bypass href="<%= issue.html_url %>" target="_blank" class="btn <%= (issue.state === 'open') ? 'btn-success' : 'btn-inverse' %>">
        <%= issue.state %>
      </a>
        <br /><small><%= updatedAt.getFullYear() %>-<%= updatedAt.getMonth() + 1 %>-<%= updatedAt.getDate() %></small>
    <% } %>
  </td>



  <td>
    <% if (model.get('review') && (model.get('review')['readme_rating'] >= 0)) { %>
      <%
        var i,
            readmeStars = model.get('review')['readme_rating'];

        for (i = 1; i <= readmeStars; i++) {
          %>&#10029;<%
        }
        for (i = 5; i > readmeStars; i--) {
          %>&#10025;<%
        }
      %>
    <% } else { %>
      <a data-bypass href="http://github.com/codeforamerica/github-tidy#reviewing" target="_blank">&#8212;</a>
    <% } %>
  </td>

  <td>
    <% if (model.get('review')) { %>
      <%= model.get('review').notes %>
      <a data-bypass href="https://github.com/codeforamerica/github-tidy/blob/gh-pages/reviews/<%= model.get('name') %>.json" target="_blank">&para;</a>
    <% } else { %>
      <a data-bypass href="http://github.com/codeforamerica/github-tidy#reviewing" target="_blank">&#8212;</a>
    <% } %>
  </td>
  
  <td><a data-bypass href="<%= model.get('homepage') %>" target="_blank">
    <% if (model.get('homepage') && (model.get('homepage').length > 20)) { %>
      <%= model.get('homepage').slice(0, 20) %>&#133;</a>
    <% } else { %>
      <%= model.get('homepage') %>
    <% } %>
  </td>