<div class="well span4">
  <p><%= stats.repos_count %> Total Public Repositories</p>
  <p><%= stats.repos_count - stats.unrated_count %> Repos Reviewed</p>
  <p>--------------------------------<p>
  <p><%= stats.unrated_count %> Repos left to Review
</div>

<div class="well span6">
  <p>&#10025;&#10025;&#10025;&#10025;&#10025;: <%= stats.readme_ratings[0] %> repos have no readme whatsoever</p>
  <p>&#10029;&#10025;&#10025;&#10025;&#10025;: <%= stats.readme_ratings[1] %> repos have an empty/generic readme</p>
  <p>&#10029;&#10029;&#10025;&#10025;&#10025;: <%= stats.readme_ratings[2] %> repos have only a basic project description</p>
  <p>&#10029;&#10029;&#10029;&#10025;&#10025;: <%= stats.readme_ratings[3] %> repos include basic install/config information</p>
  <p>&#10029;&#10029;&#10029;&#10029;&#10025;: <%= stats.readme_ratings[4] %> repos have a comprehensive readme</p>
  <p>&#10029;&#10029;&#10029;&#10029;&#10029;: <%= stats.readme_ratings[5] %> repos have a badass, awesome readme</p>
</div>