@import "../vendor/bootstrap/css/bootstrap.css";

body {
  padding-top: 60px;
}

#repos th[data-sort] {
  cursor: pointer;
}

#repos th:nth-child(3),
#repos th:nth-child(4),
#repos td:nth-child(3),
#repos td:nth-child(4) {
  white-space: nowrap;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

/** Boostrap-Responsive always at bottom **/
@import "../vendor/bootstrap/css/bootstrap-responsive.css";
